{% extends "base.html" %}

{% block staticfiles %}
<style>
  .profile-picture{
    width: 120px;
    height: 150px;
    border-style: solid
  }
  
  .cover{
    width: 114px;
    height: 144px;
  }
  </style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   817iky878umea7
    onLoad: onLinkedInLoad
    authorize: true
    lang: in_ID
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="top">
    <div class="profile-picture">
      <img alt="3x4"/>
    </div>
    <div class="button-section">
      <div class="save-button">
        <div class="btn btn-primary" onclick="saveLinkedIn()"> Simpan</div>
      </div>
      <div class="exit-button">
        <div class="btn btn-danger" onclick="logOut()">Keluar</div>
      </div>
    </div>
  </div>
  <div class="content">
    <script type="in/Login"></script>
  </div>
  <section class="lang-picker">
        <select class="my-select col-md-3" id="lang">
            <option></option>
        </select>
  </section>
  <section class="expertise-picker">
        <select class="my-select col-md-3" id="expertise">
            <option></option>
        </select>
  </section>
</div>
{% endblock %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/JavaScript">
  // Setup an event listener to make an API call once auth is complete
function onLinkedInLoad() {
    IN.Event.on(IN, "auth", getProfileData);
}

// Use the API call wrapper to request the member's basic profile data
function getProfileData() {
    IN.API.Raw("/people/~:(id,firstName,headline,lastName,picture-url,public-profile-url,email-address)").result(onSuccess).error(onError);
}

// Handle the successful return from the API call
function onSuccess(data) {
    console.log(data);
    var obj = JSON.stringify(data)
    sessionStorage.setItem("data", obj);

    $('.profile-picture').html(
      '<img class="cover" src="'+ data.pictureUrl + '"/>'
    );
    $('.content').html(
      '<h3> Data Pribadi </h3>'+
      '<p> Nama   :' + data.firstName + ' ' + data.lastName + '</p>'+
      '<p> Status :' + data.headline + '</p>'+
      '<p> Email  :' + data.emailAddress + '</p>'+
      '<p> Profile LinkedIn : <a href="'+ data.publicProfileUrl +'">'+ data.publicProfileUrl +'</a></p>'
    )
}
// Handle an error response from the API call
function onError(error) {
    console.log(error);
}

function logOut(){
  IN.User.logout(sendGoodByeMessage);
}

function sendGoodByeMessage(){
  console.log("Good Bye!");
}

function saveLinkedIn(){
  console.log("success");
  var data = sessionStorage.getItem("data");
  var obj = JSON.parse(data);
  insertDatabase(obj.firstName,obj.lastName,obj.pictureUrl,obj.emailAddress,obj.publicProfileUrl);
}

var insertDatabase = function(firstName,lastName,imageUrl,email,profileUrl) {
        $.ajax({
            method: "POST",
            url: 'http://localhost:8000/mahasiswa/profile/save/',
            data: {
              firstName: firstName,
              lastName: lastName,
              imageUrl: imageUrl,
              email: email,
              profileUrl: profileUrl
            },
            success : function (user) {
                console.log(user);
            },
            error : function (error) {
                console.log(error);
            }
        });
    };

function saveExpertise(){

}
var lang = [
    {"id":0,"text":"Java"},
    {"id":1,"text":"C#"},
    {"id":2,"text":"Python"},
    {"id":3,"text":"Erlang"},
    {"id":4,"text":"Kotlin"},
];

var level = [
    {"id":0,"text":"Beginner","fontColor":"#FAFAFA"},
    {"id":1,"text":"Intermediate","fontColor":"#FAFAFA"},
    {"id":2,"text":"Advance","fontColor":"#FAFAFA"},
    {"id":3,"text":"Expert","fontColor":"#FAFAFA"},
    {"id":4,"text":"Legend","fontColor":"#212121"},
];

$(document).ready(function() {
  localStorage.setItem("lang",JSON.stringify(lang));
  localStorage.setItem("level",JSON.stringify(level));

  var select_lang = JSON.parse(localStorage.getItem("lang"));
  var select_expertise = JSON.parse(localStorage.getItem("level"));

  $('#lang').select2({
    'placeholder' : "Select Language",
    'data' : select_lang
  });

  $('#expertise').select2({
      placeholder : "Select Expertise",
      data : select_expertise
  });


});
</script>
{% endblock %}
