<!-- templates/partials/header.html -->
<div class="container-fullwidth">
	<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">PeweTalk</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
		<a class="nav-link" href="">Status</a>
		</li>
		<li class="nav-item" >
		<a class="nav-link" href="">Profile</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="">Friends</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="">Dashboard</a>
		</li>
		</ul>
	</div>
	</nav>
</div>