{% extends "session/profile.html" %}
{% block section %}
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist" id="myTab">
    <li>
        <a href="/mahasiswa/profile/" aria-controls="home" role="tab"> Profile </a>
    </li>
    <li class="active">
        <a href="/mahasiswa/riwayat/" aria-controls="settings" role="tab"> Riwayat </a>
    </li>
    <li>
        <a href="/mahasiswa/status/" aria-controls="settings" role="tab"> Status </a>
    </li>
    <li>
        <a href="/mahasiswa/teman/" aria-controls="settings" role="tab"> Teman </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="padding:20px 20px 20px 20px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2> Daftar Riwayat : {{ riwayats | length }} </h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th> No</th>
                    <th> Nama Mata Kuliah</th>
                    <th> Nilai</th>
                    </thead>
                    <tbody>
                    {% for rw in riwayats %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td> {{ rw.kelas.nm_mk_cl.nm_mk }}</td>
    						{% if rahasia %}
    						<td> Dirahasiakan </td>
    						{% else %}
                            <td> {{ rw.nilai }}</td>
    						{% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}