{% extends "session/profile.html" %}
{% block section %}
<style>
  .profile-picture{
    width: 120px;
    height: 150px;
    border-style: solid
  }
  
  .cover{
    width: 114px;
    height: 144px;
  }
  </style>
  
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist" id="myTab">
    <li class="active">
        <a href="/mahasiswa/profile/" aria-controls="home" role="tab"> Profile </a>
    </li>
    <li>
        <a href="/mahasiswa/riwayat/" aria-controls="settings" role="tab"> Riwayat </a>
    </li>
    <li>
        <a href="/mahasiswa/status/" aria-controls="settings" role="tab"> Status </a>
    </li>
    <li>
        <a href="/mahasiswa/teman/" aria-controls="settings" role="tab"> Teman </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="padding:20px 20px 20px 20px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a class="btn btn-primary">Lihat Forum</a>
            <a href="/mahasiswa/profile/edit/" class="btn btn-primary">Edit Profile</a>
        </div>
        <div class="panel-body">
                {% if user.firstname != null %}
                  <p> Nama : {{user.firstName}} {{user.lastName}} </p>
                  <p> NPM  : {{kode_identitas}} </p>
                  <p> Keahlian : Kosong </p>
                  <p> Email : {{user.email}} </p>
                  <p> Profile LinkedIn : <a href="{{user.profileUrl}}"> {{user.profileUrl}} </a></p>
                {% else %}
                  <p> Nama : Kosong </p>
                  <p> NPM  : {{kode_identitas}}  </p>
                  <p> Keahlian : Kosong </p>
                  <p> Email : Kosong </p>
                  <p> Profile LinkedIn : Kosong </p>
                {% endif %}
              </div>
    </div>
</div>
{% endblock %}
