{% extends "layout/base.html" %}
{% block style %}
<style type="text/css">
    .clearfix {
        overflow: auto;
    }

    #prof_pic {
        float: left;
        clear: both;
    }

    .details {
        padding: 15px 15px 15px 15px;
    }

    .details > .text {
        clear: both;
    }
</style>
{% endblock %}

{% block content %}
<!-- Content Here -->
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="display: inline;"> Selamat datang, {{ author }} </h3>
    </div>
    <div class="panel-body" style="">
         <div class="clearfix">
            <div id="prof_pic">
                <img src="http://jscraftcamp.org/img/nophoto.png"></img>
            </div>
            <div class="clearfix details">
                <div class="clearfix details text">
                    <p> Username : {{ author }} </p>
                    <p> NPM : {{ kode_identitas }} </p>
                    <p> Role : {{ role }} </p>
                    {% if connected %}
                    <a href="{% url 'login_page:auth_logout' %}" class="btn btn-danger pull-left" onclick="return confirm('Keluar?')">
                        Logout </a>
                    {% else %}
                    <a href="{% url 'login_page:login_page' %}" class="btn btn-info" style="float: left; width: 130px">
                        Login Mahasiswa </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {% block section %}

    {% endblock %}
</div>

{% endblock %}
