{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="TUGAS 2">
    <meta name="author" content="{{author}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    {% block style %}
        <!-- insert static/css here-->      
    {% endblock %}
    {% block staticfiles %}
    <!-- Your Static Files Here -->
{% endblock %}
    <title> 
        {% block title %}
			<!-- ling in-->
		{% endblock %}
    </title>
</head>

<body>
    <header>
    </header>
    <content>
            {% block content %}
            <!-- Your Content Here -->
            {% endblock %}
    </content>
    <footer>
        <hr>
        {% block footer %}

        <h1 style="text-align:center">
            <small><em><br/></em></small>
        </h1>
        {% include "partials/footer.html" %}
        <!-- Your Footer Here -->
        {% endblock %}
    </footer>
</body>
<!-- Jquery n Bootstrap Script -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascript %}
<!-- Your Script Here -->
{% endblock %}
</html>
