{% extends "session/profile.html" %}
{% block section %}
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist" id="myTab">
    <li>
        <a href="/mahasiswa/profile/" aria-controls="home" role="tab"> Profile </a>
    </li>
    <li>
        <a href="/mahasiswa/riwayat/" aria-controls="settings" role="tab"> Riwayat </a>
    </li>
    <li>
        <a href="/mahasiswa/status/" aria-controls="settings" role="tab"> Status </a>
    </li>
    <li class="active">
        <a href="/mahasiswa/teman/" aria-controls="settings" role="tab"> Teman </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="padding:20px 20px 20px 20px;">
    <br>
    <!-- List Mahasiswa -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2> List Mahasiswa </h2>
        </div>
        <div class="panel-body">
            <div class="table table-responsive">
                <table class="table table-hover" id="myTable" style="width: none;">
                    <thead>
                    <th> username </th>
                    <th> NPM </th>
                    <th> E-mail </th>
                    <th> Keahlian </th>
                    <th> </th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Jquery script -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e) {
        console.log({{ data|safe }});
        $('#myTable').DataTable( {
            "data" : {{ data |safe }},
            "columns" : [
                {"data" : "username"},
                {"data" : "npm"},
                {"data" : "email"},
                {"data" : "expertise"}
            ],
        } );
    });
</script>

{% endblock %}