{% extends "session/profile.html" %}
{% block section %}
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist" id="myTab">
    <li>
        <a href="/mahasiswa/profile/" aria-controls="home" role="tab"> Profile </a>
    </li>
    <li>
        <a href="/mahasiswa/riwayat/" aria-controls="settings" role="tab"> Riwayat </a>
    </li>
    <li class="active">
        <a href="/mahasiswa/status/" aria-controls="settings" role="tab"> Status </a>
    </li>
    <li>
        <a href="/mahasiswa/teman/" aria-controls="settings" role="tab"> Teman </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="padding:20px 20px 20px 20px;">
    <h1 class="main-title">Update Status</h1>
    <hr/>
    <link href="/static/css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/status.css" />
    <script language="JavaScript">
        function showInput() {
            document.getElementById('display').innerHTML = 
                        document.getElementById("user_input").value;
        }
      </script>
    <section name="my-list" id="my-list">
        <div class="container">
            <h2 class="my-list-title">Status List</h2>
            <div class="flex">
                {% if todo %}
                    {% for data in todo reversed %}
                        <div class="flex-item">
                            <div class="post-list" style="border: solid 1px #29447E; background:#FFF8DC; padding: 15px; margin: 0; text-align: justify">
    							<br>
                                <div class="post-fill-list">
    								<font size = "3">
                                    {{data.fill}}
    								</font>
                                </div>
    							<div id = "container" style="white-space:nowrap">
    								<div class="post-list-date-added" style="display:inline;">
    									<font color = "gray" size = "2">
    									{{data.created_date}}
    									</font>
    								</div>
    								<form id="form-{{data.id}}" method="post" action="{% url 'tugas2-mahasiswa:tugas2-status:remove_todo' %}" style="display:inline; white-space:nowrap;">
    								{% csrf_token %}
    								<input type="hidden" name="flag" value="{{data.id}}" />
    								<input id = "submit{{data.id}}" id="delete-{{data.id}}" type="submit" data-id="{{data.id}}" value="Delete" class="to-do-list-delete">
    								</form>
    							</div>
    							<br>
    						</div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Tidak ada data Todo.
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% if connected %}
    <section name="input-list" id="input-list">
        <div class="container">
            <form id="form" method="POST" action="{% url 'tugas2-mahasiswa:tugas2-status:update_status_todo' %}">
    			<font size = "3">
                {% csrf_token %}
                {{ todo_form }}
    			</font>
    			<p align="right">
                <input id="submit" type="submit" class="btn btn-lg btn-info" value="Post"></p>
                <br>
            </form>
        </div>
    </section>
    {% endif %}
    <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="application/javascript">
          $(function() {
              $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html, body').animate({
                      scrollTop: target.offset().top - 55
                    }, 1000);
                    return false;
                  }
                }
              });
            });
        </script>
</div>

{% endblock %}