<head>
	<title> dummy page </title>
</head>

<body>
	<content>
	<center>
		<h1> Buka Hati </h1>
		<br>
		<h2> Perusahaan Buka Hati memberikan peluang untuk : </h2>
		<br>
		<h2> 1. Web Developer </h2>
		<h2> 2. Mobile Developer </h2>
		<br>
		<br>
		<h1> Bintang </h1>
		<br>
		<h2> Pak itu digaji ga </h2>
		<br>
		<h1> Buka Hati </h1>
		<br>
		<h2> 1. Web Developer : X juta </h2>
		<h2> 2. Mobile Developer : Y juta </h2>
		<div style ="width: 480px">
	    <a href="{% url 'login_page:login_page' %}" class="btn btn-info" style="float: left; width: 130px">
            Login Mahasiswa </a>
		<a href="{% url 'login_page:passing_login' %}" class="btn btn-info" style="float: center; width: 130px">
            Login as a Guest </a>
        <a href="" class="btn btn-info" style="float: right; width: 130px"> Login Perusahaan</a>
		</div>
	</center>
	</content>
</body>